.imgWrapper {
    border: 2px solid #ccc;
    float: left;
    margin-right: 20px;
    margin-bottom: 20px;
    padding: 5px;
    width: 300px;
}

.imgWrapper img {
    width: 100%;
}

.imgWrapper p {
    background-color: #ccc;
    font: 80%/160% "Trebuchet MS", Tahoma, Arial;
    margin-bottom: 0px;
    margin-top: 0px;
    padding: 3px;
}

pre {
    background-color: #ffffcc;
    font-family: Arial, sans-serif;
    font-size: 75% !important;
    overflow: auto;
    padding: 5px;
    width: 98%;
}

.mainList { margin-left: 15px; padding-left: 15px; }
.mainList > li { margin-bottom:3ex; }
.mainList > li > strong { color: red; }

.sublist > li { margin-bottom: 1ex; }