.imgWrapper_left {
    border: 2px solid #ccc;
    float: left;
    margin-right: 20px;
    margin-bottom: 20px;
    padding: 5px;
    width: 300px;
}

.imgWrapper img {
    width: 100%;
}

.imgWrapper p {
    background-color: #ccc;
    font: 80%/160% "Trebuchet MS", Tahoma, Arial;
    margin-bottom: 0px;
    margin-top: 0px;
    padding: 3px;
}